.frameChild {
  height: 31px;
  width: 31px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.joeGardner {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 118px;
}
.frameDiv,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv {
  gap: var(--gap-5xs);
}
.frameWrapper {
  align-self: stretch;
}
.frameIcon,
.frameIcon1,
.frameIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.logout {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.frameContainer,
.frameParent1,
.logoutWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoutWrapper {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  justify-content: flex-start;
  padding: 10.5px var(--padding-5xs);
  cursor: pointer;
}
.frameContainer,
.frameParent1 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.menuItems {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 40px;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.frameIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.boards {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 67px;
}
.menuItems1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 140px var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-sm);
}
.frameIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.settings {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 79px;
}
.menuItems2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 128px var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-sm);
}
.frameIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.teams {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 63px;
}
.menuItems3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 145px var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-smi);
}
.frameIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.analytics {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 87px;
}
.menuItems4,
.menuItemsParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.menuItems4 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) 121px var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-smi);
}
.menuItemsParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.primary {
  align-self: stretch;
  height: 52px;
  box-shadow: 0 12px 16px rgba(186, 186, 186, 0.2) inset,
    0 1px 8px rgba(0, 0, 0, 0.25);
}
.frameParent3 {
  gap: var(--gap-base);
}
.frameGroup,
.frameParent3,
.frameWrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  gap: var(--gap-base);
}
.frameIcon7 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.downloadTheApp,
.getTheFull {
  align-self: stretch;
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-dimgray-100);
  text-align: left;
}
.downloadTheApp {
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.getTheFull {
  font-size: var(--font-size-sm);
}
.downloadTheAppParent,
.frameParent4 {
  display: flex;
  justify-content: flex-start;
}
.downloadTheAppParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.frameParent4 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: #f3f3f3;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
}
.frameParent,
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameWrapper2 {
  align-self: stretch;
  justify-content: flex-start;
}
.frameParent {
  height: 1024px;
  width: 285px;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-mini) var(--padding-13xl);
}
.goodMorningJoe,
.helpFeedback {
  position: relative;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
}
.goodMorningJoe {
  margin: 0;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  font-family: var(--font-barlow);
  max-width: 100%;
}
.helpFeedback {
  text-decoration: none;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  min-width: 125px;
}
.frameIcon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.helpContainer,
.innerGreeting,
.tagsHeaderParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.innerGreeting,
.tagsHeaderParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.tagsHeaderParent {
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.searchContainer {
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 196px;
}
.automation,
.featuresTitle,
.searchContainer {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
}
.featuresTitle {
  border: 0;
  background-color: transparent;
  height: 40px;
  flex: 1;
  min-width: 105px;
}
.automation {
  position: relative;
  text-align: left;
  display: inline-block;
  min-width: 87px;
}
.frameIcon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.featuresTitle1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.featuresTitle1:hover {
  background-color: #dbdbdb;
}
.filter {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 38px;
}
.frameIcon10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.featuresTitle2 {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-sm);
}
.share {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 44px;
}
.frameIcon11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.featuresList,
.featuresTitle3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.featuresTitle3 {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  padding: var(--padding-5xs);
  gap: var(--gap-sm);
}
.featuresList {
  flex: 1;
  gap: var(--gap-base);
  max-width: 100%;
}
.button {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.emptyPrimaryIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.primary1 {
  cursor: pointer;
  border: 1px solid #4b36cd;
  padding: var(--padding-7xs) 7px;
  background-color: transparent;
  box-shadow: 0 12px 16px rgba(186, 186, 186, 0.2) inset,
    0 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #4c38c2, #2f2188);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.primary1:hover {
  background-color: rgba(115, 92, 242, 0.09);
  border: 1px solid #735cf2;
  box-sizing: border-box;
}
.greeting,
.primaryFeatures,
.searchContainerParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.primaryFeatures {
  width: 693px;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.greeting,
.searchContainerParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.greeting {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.inProgress,
.progressTimeIcon {
  position: relative;
  flex-shrink: 0;
}
.inProgress {
  width: 126px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-dimgray-200);
  text-align: left;
  display: inline-block;
}
.progressTimeIcon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  min-height: 24px;
}
.progressColumns {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.progressColumns1 {
  align-self: stretch;
  height: 40px;
}
.progressTracking,
.taskManagement {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-base);
}
.progressTracking {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 236px;
  max-width: 257px;
}
.taskManagement {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-base) var(--padding-mini) var(--padding-base)
    var(--padding-base);
}
.dashboard,
.root,
.rootWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.root {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 100%;
}
.dashboard,
.rootWrapper {
  box-sizing: border-box;
}
.rootWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xl) 0 0;
  max-width: calc(100% - 301px);
}
.dashboard {
  margin: 0;
  width: 1440px;
  background-color: #f7f7f7;
  max-width: 100%;
  overflow-y: auto;
  flex-direction: row;
  padding: 0 var(--padding-13xl) 0 0;
  gap: var(--gap-base);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 950px) {
  .frameParent {
    display: none;
  }
  .goodMorningJoe {
    font-size: var(--font-size-19xl);
  }
  .searchContainerParent {
    flex-wrap: wrap;
  }
  .rootWrapper {
    max-width: 100%;
  }
  .dashboard {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .frameParent {
    padding-top: var(--padding-xl);
    padding-bottom: 21px;
    box-sizing: border-box;
  }
  .innerGreeting,
  .primaryFeatures {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .boards,
  .joeGardner {
    font-size: var(--font-size-base);
  }
  .menuItems1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .settings {
    font-size: var(--font-size-base);
  }
  .menuItems2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .teams {
    font-size: var(--font-size-base);
  }
  .menuItems3 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .analytics {
    font-size: var(--font-size-base);
  }
  .menuItems4 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .downloadTheApp {
    font-size: var(--font-size-base);
  }
  .frameWrapper2 {
    gap: 121px;
  }
  .goodMorningJoe {
    font-size: var(--font-size-10xl);
  }
  .featuresList {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .inProgress {
    font-size: var(--font-size-base);
  }
}
