.taskModalChild {
  height: 1px;
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  flex-shrink: 0;
}
.startWritingOr,
.taskModalChild {
  align-self: stretch;
  position: relative;
}
.taskModal {
  width: 670px;
  background-color: var(--color-white);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-494xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-silver-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .taskModal {
    gap: var(--gap-base);
  }
}
